.body {
  text-align: center;
  background-color: #0AA8E6;
  width: 100%;
  min-height: 100vh;
  height: auto;
}

.sign-up-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 77.45px;
  letter-spacing: 0%;
  text-align: center;
}

.label-style{
  padding: 10px;
  font-weight: 700;
  font-size: 17.5px
}

.create-button-style{
  padding-left: 15px;
  padding-right: 15px;
  margin: 40px;
  font-weight: 700;
  font-size: 17.5px
}

.back-button-style{
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px;
  font-weight: 700;
  font-size: 17.5px
}

.input{
  margin: 5px;
  width: 300px;
}